<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="library_includes :: frontend_libraries" />
    <body>
        
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="header_nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="btn-group btn-group-lg mr-2" role="group">
                        <button type="button" class="btn btn-labeled btn-primary" id="btn_home" onclick="location.href = '/home';"><span class="btn-label"><i class="fas fa-home fa-lg"></i></span> Hauptmenü</button>
                    </div>
                </li>
            </ul>
        </nav>
        
        <div class="container-fluid" style="margin-top: 20px;">
            
            <div th:if="${display_success}" class="alert alert-success" id="success-alert" role="alert">
              Actionkarte wurde erfolgreich gespeichert.
            </div>
            
            <div>
                <p class="text-headline">
                    Neue Aktionskarte erstellen:
                </p>
            </div>
            
              <div class="form-group">
                <a class="text-headline">Kategorie:</a>
                <select required id="dd_insurance" class="form-control" name="insuranceId" onChange="onChangeDropdownInsurance(this.options[this.selectedIndex].value)">
                  <option selected value="">Bitte Kategorie wählen...</option>
                  <div th:each="actObject,iterStat : ${insurances}">
                      <div th:switch="${selectedInsurance != null && selectedInsurance == actObject.key}">
                          <div th:case="true">
                              <option selected th:value="${actObject.key}" th:text="${actObject.value}"></option>
                          </div>
                          <div th:case="false">
                              <option th:value="${actObject.key}" th:text="${actObject.value}"></option>
                          </div>
                      </div>
                        
                  </div>
                </select>
              </div>
              
            <div id="replace_div">
            </div>
                
              
            
        </div>
    </body>
    
    <script th:inline="javascript">
        $("#success-alert").fadeTo(3000, 500).slideUp(500, function(){
            $("#success-alert").slideUp(500);
        });
        
        function onChangeDropdownInsurance(insuranceId) {
            if (insuranceId !== null && insuranceId !== '') {
                
                console.log("TRIGGERED: " + insuranceId);
                
                $.post("/cards/get-form",
                {insuranceId: insuranceId},
                function (fragment) {
                    $("#replace_div").replaceWith(fragment); // update snippet of page
                }
                );
            }
        };
        
    </script>
</html>